sudo: required
language: php
services:
  - docker
cache:
  directories:
  - $HOME/google-cloud-sdk/

env:
  - PROJECT_ID=container-test-1233  PATH=$PATH:${HOME}/google-cloud-sdk/bin CLOUDSDK_CORE_DISABLE_PROMPTS=1

before_install:
  - openssl aes-256-cbc -K $encrypted_1af3bc10b2a4_key -iv $encrypted_1af3bc10b2a4_iv -in client-secret.json.enc -out client-secret.json -d

  # If the SDK is not already cached, download it and unpack it
  - if [ ! -d ${HOME}/google-cloud-sdk ]; then
       curl https://sdk.cloud.google.com | bash;
    fi
  - ls -la
  # Here we use the decrypted service account credentials to authenticate the command line tool


# [END auth]
install:
  # Set the correct project to deploy to
  - gcloud config set project ${PROJECT_ID}
  - gcloud -q components update kubectl
  - gcloud auth activate-service-account 26182002898-compute@developer.gserviceaccount.com --key-file client-secret.json

script:
  # Run the unit tests
  - echo "test"
  # [START deploy]
  # Deploy the app
  - docker build -t gcr.io/${PROJECT_ID}/linde:latest .
  - gcloud docker push gcr.io/${PROJECT_ID}/linde:latest
  # [END deploy]